7-1

In [1]:
def hello():
    print('\tHello, Python!')
def helloint():
    print('\t', 77)
print('처음 하는 함수 호출 hello()')
hello
print('함수 호출 hello() 이후')

print(1)
print(helloint)
helloint()
print(3)

처음 하는 함수 호출 hello()
함수 호출 hello() 이후
1
<function helloint at 0x00000261182AE8B0>
	 77
3

7-2

In [2]:
def hello(name):
    print('안녕, {}!'.format(name))
    
hello('수빈')
sname = '현수'
hello(sname)

안녕, 수빈!
안녕, 현수!

7-3

In [3]:
def hello(name = '여러분'):
    print('안녕, {}!'.format(name))
    
hello()
hello('현철')

안녕, 여러분!
안녕, 현철!

7-4

In [6]:
def mysum(x, y = 0):
    """두 수의 합 반환 함수"""
    return x + y

hap = mysum(5) 
print(hap)

hap = mysum(5, 10)    
print(hap)

5
15

7-5

In [7]:
def ctofahrenhite(cels):
    """ 인자인 섭씨온도 cels을 화씨 온도로 변환하여 반환 """
    return cels * 9/5 + 32

def ftocelsius(fahr): 
    """ 인자인 화씨온도 fahr을 섭씨 온도로 변환하여 반환 """
    return (fahr - 32) * 5/9
    
for cels in range(28, 35, 2):
    print('섭씨: {}, 화씨: {:.2f}'.format(cels, ctofahrenhite(cels)))
    
for fahr in range(90, 103, 3):
    print('섭씨: {:.2f}, 화씨: {}'.format(ftocelsius(fahr), fahr))

섭씨: 28, 화씨: 82.40
섭씨: 30, 화씨: 86.00
섭씨: 32, 화씨: 89.60
섭씨: 34, 화씨: 93.20
섭씨: 32.22, 화씨: 90
섭씨: 33.89, 화씨: 93
섭씨: 35.56, 화씨: 96
섭씨: 37.22, 화씨: 99
섭씨: 38.89, 화씨: 102

7-6

In [8]:
def addone():
    '''함수에서 대입에 사용되는 변수는 지역변수'''
    i = 30 
    i += 1 
    print('\t지역 변수 i:', i) 

i = 20 
print('i:', i)
addone()
print('i:', i)

i: 20
	지역 변수 i: 31
i: 20

7-7

In [9]:
def addone():
    '''대입이 없는 변수가 참조되면 전역변수로 인식'''
    print('\t전역 변수 i 읽기, i + 1: ', i + 1) 

i = 20 #전역변수
print('i = ', i)
addone() #함수 호출
print('i = ', i)

i =  20
	전역 변수 i 읽기, i + 1:  21
i =  20

7-8

In [10]:
def addone():
    '''명시적으로 변수를 전역변수로 지정인식'''
    global i
    print('\t전역 변수 i 읽기, i + 1: ', i + 1) 
    i += 1
    
i = 20
print('i = ', i)
addone()
print('i = ', i)

i =  20
	전역 변수 i 읽기, i + 1:  21
i =  21

7-9

In [12]:
def hello(*names):
    """가변 인자 name 활용"""
    for each in names:
        print('안녕, {}!'.format(each))

hello('나타샤')
hello('수빈', '현수', '지효')
hello(*['방탄소년단', '여자친구'])

안녕, 나타샤!
안녕, 수빈!
안녕, 현수!
안녕, 지효!
안녕, 방탄소년단!
안녕, 여자친구!

7-10

In [13]:
def mykeyprint(**kwargs):
    for key in kwargs:
        print('{}: {} '.format(key, kwargs[key]), end = ' ')
    print()
    
mykeyprint(여자친구=6, 마마무=4)
mykeyprint(엑소=9, 트와이스=9, 블랙핑크=4, 방탄소년단=7)

coffeeprice = {'에스프레소': 2500, '아메리카노': 2800, '카페라떼': 3200}
mycar =	{"brand": "현대", "model": "제네시스", "year": 2016}
mykeyprint(**coffeeprice)
mykeyprint(**mycar)

여자친구: 6  마마무: 4
엑소: 9  트와이스: 9  블랙핑크: 4  방탄소년단: 7
에스프레소: 2500  아메리카노: 2800  카페라떼: 3200
brand: 현대  model: 제네시스  year: 2016

7-11

In [14]:
def sumvalue(value, **kwargs):
    hap = value
    for key in kwargs:
        hap += kwargs[key]
    return hap
    
coffeeprice = {'에스프레소': 2000, '아메리카노': 2800, '카페라떼': 3200}
print(sumvalue(1000, **coffeeprice))
print(sumvalue(value = 2000, **coffeeprice))
print(sumvalue(**coffeeprice, value = 2000))

9000
10000
10000

7-12

In [15]:
def sumvalue(*values, **kwargs):
    hap = 0
    #가변 인자 합 구하기
    for v in values:
        hap += v
    #키워드 인자 합 구하기
    for key in kwargs:
        hap += kwargs[key]
    return hap
    
coffeeprice = {'value': 2000,'에스프레소': 2000, '아메리카노': 2800, '카페라떼': 3200}
print(sumvalue(1, 2, 3, **coffeeprice)) 
print(sumvalue(*[2, 3, 4], **coffeeprice))

10006
10009

7-13

In [16]:
print((lambda x: x ** 3)(3))
print((lambda a, b: a % b)(10, 3))

div = lambda a, b: a / b
print(div(10, 2))

27
1
5.0

7-14

In [17]:
words = "The core of extensible programming is defining functions.".split()
#각 항목 단어를 모두 소문자로 바꾼 항목을 키로 정렬 
print(sorted(words, key = str.lower))
#각 항목 단어의 첨자 1, 두 번째 문자를 키로 정렬 
print(sorted(words, key = lambda word: word[1])) 

groupnumber = [('잔나비', 5), ('트와이스', 9), ('블랙핑크', 4), ('방탄소년단', 7)]
# 항목의 첫 번째 항목을 키로 정렬 
print(sorted(groupnumber))
# 항목의 두 번째 항목인 그룹 인원수를 키로 정렬 
print(sorted(groupnumber, key = lambda singer: singer[1]))

['core', 'defining', 'extensible', 'functions.', 'is', 'of', 'programming', 'The']
['defining', 'of', 'The', 'core', 'programming', 'is', 'functions.', 'extensible']
[('방탄소년단', 7), ('블랙핑크', 4), ('잔나비', 5), ('트와이스', 9)]
[('블랙핑크', 4), ('잔나비', 5), ('방탄소년단', 7), ('트와이스', 9)]

7-15

In [18]:
circle = [3, 5, 7, 10]
area = list(map(lambda r: r * r * 3.14, circle)) 

for c, a in zip(circle, area):
    print('반지름 {} => 원면적 {}'.format(c, a))

반지름 3 => 원면적 28.26
반지름 5 => 원면적 78.5
반지름 7 => 원면적 153.86
반지름 10 => 원면적 314.0